body {
  font-family: "Inter", sans-serif;
  background-color: $page-background;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main-section {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

ul, li {
  list-style-type: none;
}