// Colors
$page-background: #FBFCFD;
$primary-color: #FFFFFF;
$navBg-color: #212731;
$border-color: #E1E4E6;
$text-color: #4B5665;
$blue-color: #1B88F4;
$primary-text-color: #5C6874;

// Sizes
$primary-width: 100%;
$primary-height: 100%;