.hosting-card-layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
}

.hosting-card {
  @include sizes($primary-width, $primary-height);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  min-height: 255px;
  border-radius: 12px;
  background-color: $primary-color;
  padding: 0 10px 15px;
}

.index-container {
  position: absolute;
  left: -20px;
  top: 30px;
  @include display-style();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-color;
  border: 1px solid #e1e4e6;
}

.card {
  flex: 1;
}

.image-cont {
  @include display-style();
  flex-direction: column;
  gap: 10px;

  p {
    @include font-style();
    font-size: 0.6rem;
    color: #626e79;
  }
}

.card-content {
  flex: 2;
  @include card-font-style();
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  color: $text-color;

  b {
    font-weight: 700;
  }

  p {
    margin: 0;
  }
  
  .article-1 {
    display: inline;
    font-weight: 400;
  }

  .highlight-heading {
    color: #2c384a;
  }

  .highlight {
    margin-left: 20px;
  }

  .show-more {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    color: $blue-color;
  }
}

.last-hosting-card {
  height: 100%;
  min-height: 436px;
}

.Last-card-highlight {
  max-width: 505px;
  width: 100%;
  min-height: 116px;
  height: 100%;
  border-radius: 12px;
  background-color: #fff4ed;
  margin-left: 20px;
}

.last-card-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.last-card-content {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    @include display-style();
    width: 40px;
    height: 28px;
    border-radius: 4px;
    color: $blue-color;
    background-color: $primary-color;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    color: $text-color;
  }
}