@media screen and (max-width: 1100px) {
  .main-section {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .deal-card--content .deal-card:nth-child(3) {
    display: none;
  }

  .deal-card.show-deal {
    display: flex !important;
  }

  .show-more-deals {
    width: 100%;
    display: flex;
    color: $blue-color;
    margin: 10px 0;
    justify-content: flex-end;
    cursor: pointer;
  }

  .deal-card {
    width: 100%;
    height: 350px;
  }

  .deal-card--content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .navSection {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-top: 10px;
  }

  .header-section {
    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .header-list-container {
    gap: 10px;
  }

  .image-cont {
    display: none;
  }

  .card-content {
    gap: 0;
    font-size: 0.8rem;
    padding: 30px 0 0 30px;
  }

  .rating-container {
    gap: 0;
    width: 120px;
    height: 100px;

    h1 {
      font-size: 1.5rem;
    }
  }

  .last-card-content {
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }

  .newsLetter-setion {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      width: 100%;
      text-align: center;
    }
  }

  .footer_section {
    margin-top: 30px;
  }

  .footer-container {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .header-section_container {
    height: 100%;
  }

  .header-section_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 0;

    span {
      display: flex;
      gap: 10px;

      p {
        margin: 0;
      }
    }
  }

  .deal-card--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newsLetter-setion {
    h1 {
      font-size: 1.6rem;
      line-height: 1.7rem;
    }
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      border-radius: 10px;
    }
    button {
      border-radius: 10px;
    }
  }

  .footer-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .navSection {
    ul {
      display: flex;
      gap: 20px;
    }
  }

  .header-section {
    h1 {
      margin: 15px 0;
    }
  }

  .header-section_container {
    flex-direction: column;
  }

  .search-relevent {
    p {
      margin: 0;
    }
  }

  .header-list-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }

  .nav-list {
    gap: 5px;
  }

  .hosting-card {
    display: flex;
    flex-direction: column;
  }

  .rate-button-container {
    margin-top: 20px;
    gap: 30px;
    justify-content: center;
  }

  .Last-card-highlight {
    width: 90%;
  }

  .newsletter-form {
    input {
      max-width: 348px;
      width: 80%;
      min-width: 250px;
    }
    button {
      max-width: 97px;
      min-width: 70px;
      height: 52px;
      width: 100%;
    }
  }
}
